<nav
  class="navbar navbar-expand-lg fixed-top navbar-transparent"
  color-on-scroll="100"
  id="navbar-top"
>
  <div class="container">
    <div class="navbar-translate">
      <a
        class="navbar-brand"
        placement="bottom"
        [routerLink]="['/workfolio']"
        target="_blank"
        tooltip="designation"
      >
        <!-- <span> SS </span> -->
        Backend Software Engineer
      </a>
      <button
        aria-controls="navigation-index"
        aria-label="Toggle navigation"
        class="navbar-toggler navbar-toggler"
        [attr.aria-expanded]="!isCollapsed"
        (click)="isCollapsed = !isCollapsed"
        id="navigation"
        type="button"
      >
        <span class="navbar-toggler-bar bar1"> </span>
        <span class="navbar-toggler-bar bar2"> </span>
        <span class="navbar-toggler-bar bar3"> </span>
      </button>
    </div>
    <div
      class="navbar-collapse justify-content-end"
      [collapse]="isCollapsed"
      id="navigation"
    >
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand"><a> Backend Software Engineer </a></div>
          <div class="col-6 collapse-close text-right">
            <button
              aria-controls="navigation-index"
              aria-label="Toggle navigation"
              class="navbar-toggler"
              [attr.aria-expanded]="!isCollapsed"
              (click)="isCollapsed = !isCollapsed"
              id="navigation"
              type="button"
            >
              <i class="tim-icons icon-simple-remove"> </i>
            </button>
          </div>
        </div>
      </div>

      <ul class="navbar-nav">

        <li class="nav-item p-0">
          <a
            class="nav-link"
            href="https://twitter.com/singhengineer_"
            placement="bottom"
            target="_blank"
            tooltip="Follow us on Twitter"
          >
            <i class="fa fa-twitter"></i>
            <p class="d-lg-none d-xl-none">Twitter</p>
          </a>
        </li>

        <li class="nav-item p-0">
          <a
            class="nav-link"
            href="https://www.linkedin.com/in/backend-software-engineer-singhsantosh/"
            placement="bottom"
            target="_blank"
            tooltip="Like us on LinkedIn"
          >
            <i class="fa fa-linkedin"></i>
            <p class="d-lg-none d-xl-none">LinkedIn</p>
          </a>
        </li>

        <li class="nav-item p-0">
          <a
            class="nav-link"
            href="https://github.com/devOps-engineer-ss"
            placement="bottom"
            target="_blank"
            tooltip="Follow us on GitHub"
          >
            <i class="fa fa-github"></i>
            <p class="d-lg-none d-xl-none">GitHub</p>
          </a>
        </li>

        <!-- <li class="nav-item p-0">
           <a
            class="nav-link btn btn-default d-none d-lg-block"
            href="javascript:void(0)"
            (click)="scrollToDownload(target)"
          >
            <i class="tim-icons icon-cloud-download-93"> </i> View Resume
          </a>
        </li> -->

      </ul>
    </div>
  </div>
</nav>

<div class="wrapper">
 
  <div class="main">

    <div class="section section-tabs">
      <div class="container">
        <div class="row">
          <!-- <div class="col-md-10 ml-auto col-xl-2 mr-auto">
            <img
            alt="Circle image"
            class="img-fluid rounded-circle shadow"
            src="assets/img/santoshsingh.jpeg"
            style="width: 240px;"
          />
          </div> -->
          

          <div class="col-md-10 ml-auto col-xl-12 mr-auto">
            <div class="card">
              <div class="card-header">
                <tabset class="nav-tabs-danger">
                  <tab>

                    <ng-template tabHeading>
                      <!-- <i class="tim-icons icon-spaceship"> </i>  -->
                      Profile
                    </ng-template>
                     <h3>Santosh Kumar Singh</h3>
                    <p>
                      Backend Software Engineer at Tamasha.live <br />
                      <br />
                      Engineer's degree in Computer Engineering at Gujarat Technological University <br/>
                      <br/>
                    </p>

                  </tab>
                  
                  <tab>
                    <ng-template tabHeading>
                      <!-- <i class="tim-icons icon-settings-gear-63"> </i>  -->
                      About
                    </ng-template>
                    <p>
                      Contribute to team and organisational improvements in process and infrastructure. <br/> <br/>

                      Strong in design and integration with intuitive problem-solving skills. Proficient in JavaScript, TypeScript, NodeJs, NestJs, PostgreSQL, MongoDB and Aws Services. Passionate about implementing and launching new projects. Ability to translate business requirements into technical solutions. <br />

                      <br />
                      <br />

                    </p>
                  </tab>
                  <tab>
                    <ng-template tabHeading>
                      <!-- <i class="tim-icons icon-bag-16"> </i>  -->
                      Languages known
                    </ng-template>
                    <p>
                      Engilsh, Hindi and Gujarati <br />
                      <br />
                    </p>
                  </tab>
                </tabset>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section section-notifications">
      <div class="container">
        <div class="row">
          <div class="col-md-10 ml-auto col-xl-12 mr-auto">
            <div class="card">
              <div class="card-header">
                <h3>Top Skills</h3>
                 <div class="row">
                  <div class="col-md-12">
                    <button class="btn btn-neutral"> Node Js </button>
                    <button class="btn btn-neutral"> JavaScript </button>
                    <button class="btn btn-neutral"> TypeScript </button>
                    <button class="btn btn-neutral"> Amazon Web Services (AWS) </button>
                    <button class="btn btn-neutral"> PostgreSQL </button>
                    <button class="btn btn-neutral"> MongoDB </button>
                    <button class="btn btn-neutral"> Amazon Simple Notification Service (SNS) </button>
                    <button class="btn btn-neutral"> Amazon SQS </button>
                    <button class="btn btn-neutral"> Amazon S3 </button>
                    <button class="btn btn-neutral"> GitHub </button>
                    <button class="btn btn-neutral"> Docker </button>
                    <button class="btn btn-neutral"> Google Cloud Platform (GCP) </button>
                    <button class="btn btn-neutral"> Angular Material </button>
                      <br/>
                      <br/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section section-tabs">
      <div class="container">
        <div class="row">
          <div class="col-md-10 ml-auto col-xl-12 mr-auto">
            <div class="card">
              <div class="card-header">
                <h3>Day to day responsibilities at my current job</h3>
                 <p>
                  As part of my current role at Microsoft, I mostly spend time on developing new features, taking part in design discussion, Also, Spend time in code reviews, improving existing features, and fixing bugs.
                 </p>
                 <br/>
                 <br/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section section-tabs">
      <div class="container">
        <div class="row">
          <div class="col-md-10 ml-auto col-xl-12 mr-auto">
            <div class="card">
              <div class="card-header">
                <h3>How I help my mentees in acheiving their goals</h3>
                 <p>
                  1. First of all, I will try make mantees very much comfortable so that they can share their problem/doubts without any hesitation.
                  <br/>
                  <br/>
                  2. I will try to understand what kind of goals mentees has set while joining this particular course and see thier progress and try to guide them to achive their goal.
                  <br/>
                  <br/>
                  3. I will help mantee fill their knowledge gaps to seek the right opportunities and grow.
                  <br/>
                  <br/>
                  4. I have experience in competitive coding as well as in development but as I moved to work in the industry my interest and path have shifted more towards development.
                  <br/>
                  <br/>
                  5. I have a wide area of working experience so I can help mantee to understand the different industry norms of Bekend Development, System Programming, Kernal Programming etc.
                  <br/>
                  <br/>
                  6. It might be possible that mantees feel demotivated at some point. I will definitely try my best to motivate mentees to shift their focus back to the goal.
                  <br/>
                  <br/>
                 </p>
                 <br/>
                 <br/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="btn-wrapper profile">

            <a
              class="btn btn-icon btn-twitter btn-round btn-lg mr-1"
              id="twitter"
              href="https://twitter.com/singhengineer_"
              target="_blank"
            >
              <i class="fab fa-twitter"> </i>
            </a>

            <a
              class="btn btn-icon btn-linkedin btn-round btn-lg mr-1"
              href="https://www.linkedin.com/in/backend-software-engineer-singhsantosh/"
              id="linkedin"
              target="_blank"
            >
              <i class="fab fa-linkedin-in"> </i>
            </a>

            <a
              class="btn btn-icon btn-github btn-round btn-lg"
              href="https://github.com/devOps-engineer-ss"
              target="_blank"
            >
              <i class="fab fa-github"> </i>
            </a>
          </div>
        </div>

        <div class="col-md-4">
          <div class="btn-wrapper">
              <a class="btn btn-danger" [routerLink]="['/contact']">
                Contact Us
              </a>
            </div>
        </div>
      </div>
    </div>
  </footer>
</div>
